@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #571cf9;
  padding: 30px;
  font-size: 1.3rem;
}

.cabecalho img {
  width: 150px;
  height: 150px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: #571cf9;
}

nav a:hover {
  color: #8f67fd;
  transition: 0.8s;
}

body {
  background-color: #171717;
}

h1 {
  font-size: 26px;
  font-weight: 700;
}

.apresentacao {
  color: #f9f9f9;
  margin-top: 90px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
}

button {
  margin-top: 20px;
}

.foto-programador img {
  display: inline;
  width: 150px;
  height: 150px;
}

.download {
  background-color: #571cf9;
  color: #171717;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 14px;
  margin: 15px;
  height: 42px;
  width: 143px;
  border: none;
  cursor: pointer;
}

.download:hover {
  background-color: #8f67fd;
  transition: 0.8s;
}

.contato {
  background-color: #171717;
  color: #f9f9f9;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 14px;
  margin: 15px;
  height: 42px;
  width: 143px;
  border: 1px solid rgb(53, 53, 53);
  cursor: pointer;
}

.contato:hover{
  background-color: rgb(54, 54, 54);
  transition: 0.5s;
}

.sobre-mim {
  margin: 0 auto;
  width: 70%;
}

.sobre-mim h2 {
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.sobre-mim p {
  margin: 0 auto;
  width: 70%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 85px;
  color: #571cf9;
  font-weight: lighter;
  margin-top: 20px;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 70px;
}

.social a{
  text-decoration: none;
  text-align: center;
}

.social .linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social .email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social .whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.linkedin h2,
p {
  color: #571cf9;
  margin: 3px;
}

.email h2,
p {
  color: #571cf9;
  margin: 3px;
}

.whatsapp h2,
p {
  color: #571cf9;
  margin: 3px;
}

.linkedin-imagem {
  width: 90px;
  height: 90px;
}

.email-imagem {
  width: 90px;
  height: 90px;
}

.telefone-imagem {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.titulo {
  text-align: center;
  color: #ffffff;
}

.projeto-pai {
  margin: 45px;
  display: grid;
  grid-template: repeat(2, 240px) / repeat(auto-fill, minmax(auto, 350px));
  gap: 30px;
  justify-content: center;
}

.info a {
  text-decoration: none;
  color: #571cf9;
}

.info a :hover {
  color: #8f67fd;
  transition: 0.8s;
}

.info a:visited {
  color: #c3adff;
}

.projeto-pai .projeto {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #212121;
}

.inside-projeto-jordan {
  align-self: center;
  width: 100%;
  height: 185px;
  background: url(Imagens/jordan-loha.png);
}

.inside-projeto-api-github {
  align-self: center;
  width: 100%;
  height: 185px;
  background: url(Imagens/api-github.png);
  background-size: cover;
}

.inside-projeto-advice-api {
  align-self: center;
  width: 100%;
  height: 185px;
  background: url(Imagens/advice-api.png);
  background-size: contain;
}

.inside-projeto-cartao {
  align-self: center;
  width: 100%;
  height: 185px;
  background: url(Imagens/cartao.png);
}

.inside-projeto-landpage {
  align-self: center;
  width: 100%;
  height: 185px;
  background: url(Imagens/landpage-agencia.png);
}

.inside-projeto-fylo-landpage {
  align-self: center;
  width: 100%;
  height: 185px;
  background: url(Imagens/fylo-landpage.png);
}

h2.aviso {
  color: #f9f9f9;
  text-align: center;
}

h2.aviso a {
  text-decoration: none;
  color: #571cf9;
}

h2.aviso a:hover {
  color: #8f67fd;
  transition: 0.8s;
}

h2.aviso a:visited {
  color: #c3adff;
}

.projeto-pai .projeto .info {
  order: 2;
  color: #441eeb;
}

.info h2,
h4 {
  padding: 3px;
  font-size: 1.3rem;
}

.servicos {
  margin-bottom: 127px;
}

.servicos img {
  width: 56px;
  height: 56px;
}

.servicos h2 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-top: 127px;
  margin-bottom: 30px;
}

.container-servico {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container-servico p {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  padding-top: 45px;
  width: 150px;
}

.responsividade,
.sites {
  width: 350px;
  height: 240px;
  background-color: #212121;
  padding: 30px;
  border-bottom: 5px solid #571cf9;
  margin: 50px;
}

.sites:hover{
  border-bottom: 15px solid #571cf9;
  padding: 15px 30px;
  transition: 0.5s;
}

.responsividade:hover{
  border-bottom: 15px solid #571cf9;
  padding: 15px 30px;
  transition: 0.5s;
}

.skills h2 {
  text-align: center;
  color: #ffffff;
}

.tecnologias {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tecnologias img {
  width: 180px;
  height: 180px;
  margin: 40px;
}

.fundo-tecnologia {
  width: 150px;
  height: 150px;
  background-color: #212121;
  margin: 20px;
  padding: 35px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  height: 50px;
  background-color: #571cf9;
}

footer p {
  width: 200px;
  font-size: 1.5rem;
  color: black;
}

